main {
  max-width: 1920px;
  min-height: 75vh;
  /* background-color: red; */
  padding: 40px;
  background-color: #FBC02D;
}

.App {
  position: relative;
  overflow-x: clip;
}

footer {
  border-top: thin black ridge;
  text-align: center;
  padding: 10px;
  background-color: #8D6E63 ;
}

.mushroom-bg {
  border: black ridge thick;
  padding: 20px;
  background-color: whitesmoke;
}

.d-none {
  display: none;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 8px;
}

.ps-2 {
  padding-left: 16px;
}
