.auth-form {
    display: flex;
    flex-wrap: wrap;
    margin: 10vh auto;
    justify-content: center;
    max-width: 300px;
    row-gap: 10px;
    column-gap: 10px;
}

.no-real-email {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.auth-form input {
    flex: 0 0 100%;
    height: 30px; 
}

.auth-form .cta {
    flex: 0 0 45%;
}