.auth-form {
    display: flex;
    flex-wrap: wrap;
    margin:20vh auto;
    justify-content: center;
    max-width: 300px;
    row-gap: 10px;
    column-gap: 10px;
}

.auth-form input {
    flex: 0 0 100%;
    height: 30px; 
}

.auth-form .cta {
    flex: 0 0 45%;
}