.homepage h1, .welcome-msg {
    text-align: center;
    font-weight: bolder;
}

.row-container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 40px;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }
}

.order-teaser {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
}

.reviews-container {
    flex: 0 0 50%;
}

.cta-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.cta-container a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.cta {
    background-color: #D32F2F;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    border: unset;
}