nav {
    background-color: #388e3c;
    border-bottom: thin black ridge;
}

nav.desktop-menu {
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}

nav.mobile-menu {
    display: block;
    @media (min-width: 1024px) {
        display: none;
    }
}

.mobile-menu .open {
    height: 100%;
    width: 100vw;
    top: 20px;
    background-color: #388e3c;
    padding-left: 8px;
    position: absolute;
}

.mobile-menu li a,
.mobile-menu button {
    font-size: 20px;
}

.mobile-menu li,
.mobile-menu button {
    padding: 4px 0;
}

.mobile-menu .hamburger {
    padding: 8px;
}

nav li {
    list-style-type: none;
}

nav a, nav button {
    text-decoration: none;
    color: black;
    font-family: unset;
    background-color: transparent;
    border: unset;
    font-size: 16px;
    font-weight: 600;
    padding: unset;
}

a, button, input[type="submit"] {
    cursor: pointer;
}

nav.desktop-menu ul {
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
    margin: 0;
    padding: 10px 30px 10px 0;;
}