.profile-page {

}

.profile-page ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    column-gap: 8px;
}

.profile-page li a{
    text-decoration: none;
}

.orders-container .receipt {
    margin: 10px 0;
}