
.profile-page ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    column-gap: 8px;
    margin-bottom: 40px;
}

.profile-page li a {
    text-decoration: none;
}

.profile-page h3 {
    margin: 0;
    text-align: left;
}

.orders-container .receipt,
.reviews-container .review {
    margin: 10px 0;
}

.review-skeleton {
    height: 160px;         
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #e5e7eb; 
    position: relative;
    overflow: hidden;
}

.skeleton-row {
    height: 177px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #e5e7eb; 
    border: unset;
}

.skeleton-row td {
    border: unset;
}

/* Shimmer layer */
.shimmer::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

section {
    margin: 20px 0;
}

.profile-page-inner-wrapper {
    overflow-x: auto;
}

table {
    border-collapse: collapse;

    @media (min-width: 1024px) {
        width: 100%;
        table-layout: fixed;
    }
}

table th,
table td {
    text-align: left;
    padding: 4px 8px;
    background-color: whitesmoke;

    border: ridge 4px #388e3c;
}

h1 {
    margin-bottom: 0;
}

.btn-container {
    margin-top: 8px;
}